*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

.search__btn-delete_none, .search__btn-delete {
  position: absolute;
  top: calc(50% - 3px);
  right: 25px;
  width: 20px;
  height: 20px;
  font-size: 25px;
  color: #7c7c7c;
  cursor: pointer;
}

.search__btn-delete, .search__btn {
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  visibility: visible;
}

.search__btn-delete_none, .search__btn_none {
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  visibility: hidden;
}

html {
  width: 100vw;
  height: 100%;
  background-color: #4299E1;
}

body {
  min-height: 100vh;
  width: 100%;
  color: #1A202C;
  font-size: 16px;
  font-family: "Heebo", Arial, sans-serif;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.search {
  position: relative;
  width: 23%;
  margin-top: 4%;
}
.search__field {
  height: 50px;
  width: 100%;
  padding: 30px;
  font-size: 1.5em;
  border-radius: 3px;
}
.search__info {
  position: absolute;
  width: 100%;
  top: 60px;
  text-align: center;
}
.search__info-text {
  font-size: 1.3em;
  padding: 10px;
}
.search__btn {
  position: absolute;
  top: calc(50% - 12px);
  right: 25px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: #7c7c7c;
  cursor: pointer;
}
.search__btn:hover {
  color: #4299E1;
}
.search__btn_none {
  position: absolute;
}
.search__btn-delete {
  transform: rotate(180deg);
}
.search__btn-delete:hover {
  color: #4299E1;
}
.search__btn-delete_none {
  transform: rotate(-180deg);
}

.weather {
  width: 23%;
  margin-top: 70px;
  color: #fff;
}
.weather__main {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #1A202C;
  border-radius: 5px 5px 0 0;
}
.weather__temp {
  padding: 30px 0 20px 40px;
}
.weather__temp-value {
  font-size: 3.8em;
  font-weight: 700;
}
.weather__feels-like {
  font-size: 1.2em;
}
.weather__clouds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 10px 10px 30px;
}
.weather__cloud-icon {
  width: 20%;
}
.weather__description {
  font-size: 1.3em;
  font-weight: 600;
}
.weather__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 20px 0 0 0;
}
.weather__picture {
  width: 100px;
  height: 100px;
}
.weather__forecast {
  background-color: #2D3748;
  border-radius: 0 0 5px 5px;
  padding: 80px 0 10px 0;
}
.weather__forecast-values {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 0 0 30px;
}
.weather__block {
  display: flex;
  align-items: center;
  margin: 0 0 30px 0;
}
.weather__day {
  display: flex;
  align-items: center;
  width: 25%;
  padding: 0 0px 0 32px;
}
.weather__day-week {
  font-size: 1.5em;
}
.weather__icon {
  width: 70px;
  height: 70px;
}
.weather__forecast-descr {
  width: 30%;
  padding: 0 0 0 10px;
}